.navbar {
    display: flex;
    justify-content: right;
}
.navbar h4 {
    margin-right: 10px;
}

.page_administrators {
    display: flex;
    justify-content: right;
}

.box-flex {
    display: flex;
    max-height: 200px;
    overflow: hidden;
}
.info-text {
    width: 80% !important;
}

.info-image {
    width: 20% !important;
}

.profile_pic {
    /* width: 80% !important;
    max-width: 80% !important; */
}
